.content-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 1rem;
}

.share {
  padding: 2rem 0;
}

.contact-text {
  padding: 1rem 0;
}

form {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
}

.form-container,
.message-container {
  width: 100%;
  padding: 1rem 0;
}

.form-container__input {
  width: 90%;
}

label,
input {
  display: block;
  height: 1.2rem;
}

#message {
  resize: none;
  height: 10rem;
}

.contact-information {
  padding: 1rem 0;
}

.contact-information__list {
  margin-left: 1rem;
}
.contact-information__list--item {
  margin: 1rem 0;
}

.submit-button {
  width: 10rem;
  padding: .5rem 0;
  font-size: 1.5rem;
  background-color: var(--color-accent);
  color: var(--color-black);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
}

@media (min-width: 1000px) {
  .content-container {
    max-width: 95vw;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }

  main {
    margin-top: 2rem;
  }

  form {
    grid-template-columns: 1fr 1fr;
  }
  .message-container {
    grid-column: 1 / span 2;
  }
  .form-container__input.message {
    width: 100%;
  }
}