/* Home page */

/* Top image */

.content-container {
  margin: 1rem auto;
  margin-top: calc(150px + 1rem);
}

.top-image {
  height: 40vh;
}

.top-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 40%;
}

.articles {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
}

article {
  padding: 1rem;
  /* border: 1px solid black; */
  margin: 1rem;
}

article img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.article-heading {
  margin-top: 1rem;
  line-height: 2rem;
  font-size: 1.5rem;
}

.article-heading__link:link {
  display: inline-block;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.article-description {
  margin-top: 1rem;
}

.article-createdAt {
  margin-top: 1rem;
  font-size: .7rem;
}

.article-author {
  margin-top: .5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.more-button {
  width: 60vw;
  padding: .5rem 0;
  font-size: 1.5rem;
  background-color: var(--color-accent);
  color: var(--color-black);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
}

@media (min-width: 1000px) {
  .top-image {
    height: 60vh;
  }

  .content-container {
    margin-top: 50px;
  }

  .articles {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  article {
    max-width: 20rem;
    justify-self: center;
  }

  article img {
    max-width: 300px;
    /* width: 30vw; */
    width: 100%;
    margin: 0;
  }

  .heading {
    padding-left: 1rem;
  }

  .more-button {
    width: 15rem;
    height: 5rem;
    font-size: 1.5rem;
  }

}

@media (min-width: 1200px) {
  .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}